<div class="col-md-4">

  <div class="card card-blog">
    <div class="content">
      <h6 class="category text-info">Fashion</h6>
      <p class="card-description">
        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
      </p>
    </div>
  </div>

  <div class="card">
    <div class="content content-info">
      <h5 class="category-social">
        <i class="fa fa-twitter"></i> Twitter
      </h5>
      <h4 class="card-title">
        <a href="#pablo">"You Don't Have to Sacrifice Joy to Build a Fabulous Business and Life"</a>
      </h4>

    </div>
  </div>

</div>

<div class="col-md-4">

  <div class="card">
    <div class="content">
      <h6 class="category text-danger">
        <i class="material-icons">trending_up</i> Trending
      </h6>

      <h4 class="card-title">
        <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
      </h4>

    </div>

  </div>

  <div class="card card-blog">
    <div class="content">
      <h6 class="category text-success">Legal</h6>

      <h4 class="card-title">
        <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
      </h4>
      <p class="card-description">
        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
      </p>
    </div>

  </div>

</div>


<div class="col-md-4">

  <div class="card card-blog">
    <div class="content">
      <h6 class="category text-danger">
        <i class="material-icons">trending_up</i> Trending
      </h6>
      <h4 class="card-title">
        <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
      </h4>
      <div class="footer">
         <div class="stats">
              <i class="material-icons">schedule</i> 5 min read
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content content-success">
      <h5 class="category-social">
        <i class="fa fa-newspaper-o"></i> TechCrunch
      </h5>
      <h4 class="card-title">
        <a href="#pablo">"Focus on Your Employees"</a>
      </h4>
      <p class="card-description">
        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
      </p>
    </div>
  </div>

</div>
