
<div class="features-1">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title">#GoBananas</h2>
      <h5 class="description">AN AMERICAN CLASSIC THAT CAME FROM LATROBE</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-info">
          <i class="material-icons">map</i>
        </div>
        <h4 class="info-title">Attend</h4>
        <p>Directions, Parking, Schedule. Everything you need to make the most of your visit to the Great American Banana Split Celebration!</p>
        <a href="<%- url_for('attend') %>" class="btn btn-primary">Family Fun</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-success">
          <i class="material-icons">star</i>
        </div>
        <h4 class="info-title">Volunteer</h4>
        <p>Be involved with opportunities to help in different areas throughout the weekend. Oh, and rumor has it you get a tshirt too.</p>
        <a href="<%- url_for('volunteer') %>" class="btn btn-primary">I want to help</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-danger">
          <i class="material-icons">check</i>
        </div>
        <h4 class="info-title">Vend</h4>
        <p>An expected 25k+ people in downtown Latrobe. Don't miss your chance to be a part of Vendor Row, Food Court, or Farmer's Market.</p>
        <a href="<%- url_for('vendors') %>" class="btn btn-primary">Save my spot</a>
      </div>
    </div>
  </div>

</div> <!-- end .features-1 -->
