<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/carousel-kellie.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-6 text-left">
								<h1 class="title">Kellie Pickler Live</h1>
								<h4>S&T Bank presents American Idol alum and Dancing with the Stars winner, Kellie Pickler live at Latrobe Memorial Stadium August 27th.</h4>
								<h4>Also performing Saddle Up Band, Katelyn Rose, and Sarina Neal</h4>
								<br />

								<div class="buttons">
									<a href="https://on.spingo.com/e/kellie_pickler_live_at_memorial_stadium" class="btn btn-info btn-lg">
										<i class="fa fa-ticket"></i>&nbsp;&nbsp;Buy Tickets
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="item">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/masthead.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-7 col-md-offset-5 text-right">
								<h1 class="title">Weekend Schedule</h1>
								<h4>August 26-28 is a weekend full of fun activities for the entire family. It'll be the cherry to top off your summer!</h4>
								<br />

								<div class="buttons">
									<!--<a href="#pablo" class="btn btn-white btn-simple btn-lg">
										<i class="material-icons">stars</i> Flyers
									</a>-->
									<a href="<%- url_for('/schedule') %>" class="btn btn-danger btn-lg">
										<i class="material-icons">schedule</i> Full Schedule
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/carousel-5k-banana-run.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h1 class="title">Sorry, Gotta Split!</h1>
								<h4>Two 5k events to help you feel less guilty for indulging in a banana split.<br /><em>Don't worry, we'll be having one too!</em></h4>
								<h4>Saturday morning's timed and chipped <strong>5k Banana Run</strong> and Sunday afternoon's fun-for-the-whole-family <strong>Color Dash</strong></h4>
								<div class="buttons">
									<a href="http://www.active.com/latrobe-pa/running/distance-running-races/5k-banana-run-2016" class="btn btn-warning btn-lg">
										<i class="material-icons">directions_run</i>&nbsp;&nbsp;5k Banana Run Registration
									</a>
									<a href="http://newcolordash5k.ticketmob.com/event.cfm?cart&id=141475" class="btn btn-warning btn-lg">
										<i class="material-icons">directions_run</i>&nbsp;&nbsp;Color Dash Registration
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<i class="material-icons">keyboard_arrow_left</i>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<i class="material-icons">keyboard_arrow_right</i>
		</a>
    <!-- End Controls -->

	</div>
</div>
