<div id="carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">


			<div class="item active">
				<div class="page-header header-filter" style="background-image: url('<%- url_for('images/masthead.jpg') %>');">

					<div class="container">
						<div class="row">
							<div class="col-md-7 col-md-offset-5 text-right">
								<h1 class="title">Save this sweet date!</h1>
								<h4>The 2017 celebration happens<br />August 25 - 27 in Downtown Latrobe!</h4>
								<br />

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<i class="material-icons">keyboard_arrow_left</i>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<i class="material-icons">keyboard_arrow_right</i>
		</a>
    <!-- End Controls -->

	</div>
</div>
