<!-- Begin Carousel -->
  <%- partial('_partial/index-carousel.ejs') %>
<!-- End Carousel -->

<div class="header"></div>

<div class="main"> <!-- se the class main-raised if you want the main area to be as a page with shadows -->
  <div class="container">

    <!-- here you can add your content -->
    <%- partial('_partial/common-feature.ejs') %>

    <!-- end adding content -->
  </div> <!-- end .container -->

  <!-- Social Line -->
    <div class="social-line social-line-big-icons social-line-black">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <a href="https://fb.com/bananasplitfest" class="btn btn-simple btn-just-icon btn-white">
              <i class="fa fa-facebook-square"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="https://twitter.com/bananasplitfest" class="btn btn-simple btn-just-icon btn-white">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="https://instagram.com/bananasplitfest" class="btn btn-simple btn-just-icon btn-white">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
          <div class="col-xs-3">
            <a href="https://snapchat.com/add/bananasplitfest" class="btn btn-simple btn-just-icon btn-white">
              <i class="fa fa-snapchat"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end Social Line -->


    <!-- Sponsor Cards -->
    <%- partial('_partial/index-sponsors.ejs') %>
    <!-- end Sponsor Cards -->


</div> <!-- end .main -->
